#audio-play-btn {
    display: none; 
    position: fixed; 
    bottom: 1rem; 
    left: 1rem; 
    padding: 0.5rem 0.8rem; 
    background: #ab9264; 
    color: white; 
    border: none; 
    border-radius: 6px;
}